<h2 class="card-title">{{name}}</h2>
<p class="card-subtitle mb-2 text-muted plant-cat">{{category}}</p>
<img src='./assets/images/fern.jpg' />
<p class="card-text"><span class="fas fa-tint"></span> {{wateramount}}</p>
<p class="card-text"><span class="fas fa-sun"></span> {{sunamount}}</p>