<form class="search-bar-form">
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" class="form-control" name="category">
            <option selected></option>
            <option value="2">House Plants</option>
            <option value="3">Succulents</option>
            <option value="4">Orchids</option>
            <option value="1">Bonsai Trees</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>