<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" />
        <label for="category">Category</label>
        <select id="category" class="form-control">
            <option disabled selected></option>
            <option value="house-plants">House Plants</option>
            <option value="succulents">Succulents</option>
            <option value="orchids">Orchids</option>
            <option value="bonsai-trees">Bonsai Trees</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>