<section>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 search-bar-home">
              <h1>Browse Plants</h1>
                <form>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" />
                    <label for="category">Category</label>
                    <select id="category" class="form-control">
                      <option disabled selected></option>
                      <option value="house-plants">House Plants</option>
                      <option value="succulents">Succulents</option>
                      <option value="orchids">Orchids</option>
                      <option value="bonsai-trees">Bonsai Trees</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 signup-head">
              <div class="signup-section">
                <h1>Sign up</h1>
                <p>Create a profile to keep track of your plant babies</p>
                <form>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" />
                    <label for="username">First Name</label>
                    <input type="text" id="firstname" class="form-control" />
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" />
                    <button type="submit" class="btn btn-primary">Let's grow ></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>   
      </section>