<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 signup-head">
        <div class="loggedin-homepage">
          <h1>Welcome, {{firstname}}</h1>
        </div>
        <div class="signup-section">
          <h1>Sign up!</h1>
          <p>Create a profile to keep track of your plant babies</p>
          <form class="signup-form">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email-signup" class="form-control" />
              <label for="username">First Name</label>
              <input type="text" id="firstname-signup" class="form-control" />
              <label for="password">Password</label>
              <input type="password" id="password-signup" class="form-control" />
              <button type="submit" class="btn btn-primary">Let's grow ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/javascript/signup.js"></script>