<div class="flex-container">
    <section>
        <div class="my-plants">
            <h1>My Plants</h1>
        </div>
        <div class="my-plants-container">
           {{!--  {{#each plants as |plant|}}
                    {{> plants-info plant}} --}}
                </div>
    </section>
</div>