<div class="card plant-card">
    <div class="card-body">
        <h2 class="card-title">{{plantType.name}}</h2>
        <p class="card-subtitle mb-2 text-muted plant-cat">{{plantType.category_id}}</p>
        <img src='./assets/images/fern.jpg' />
        <p class="card-text"><span class="fas fa-tint"></span> {{plantType.waterAmount}}</p>
        <p class="card-text"><span class="fas fa-sun"></span> {{plantType.sunlightAmount}}</p>
    </div>
</div>