<div class="flex-container">
    <section>
        <div class="search-bar">
            <h1>Browse Plants</h1>
            {{> searchbar}}
        </div>
    </section>
    <section>
        <div class="plant-container" id="plant-container">
        </div>
    </section>
</div>

<script src="/javascript/search-plants.js"></script>

