<div class="flex-container">
    <section>
        <div class="search-bar">
            <h1>Browse Plants</h1>
            {{> searchbar}}
        </div>
    </section>
    <section>
        <div class="plant-container">
            {{#each plants as |plant|}}
            <div class="card plant-card">
                <div class="card-body">
                    {{> plants-info plant}}
                    {{#if loggedIn}}
                    {{> add-btn}}
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>

<script src="/javascript/search-plants.js"></script>
{{#if initialSearch}}
<script src="/javascript/add-plants.js"></script>
{{/if}}