@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

a {
    color: #fff !important;
}

a:hover {
    text-decoration: underline;
}

footer p {
    margin: .5rem auto;
}

.navbar {
    background-color: #00611C !important;
}

.navbar > .container-fluid {
    margin: 0 10%;
}

.navbar-toggler {
    background-color: #fff !important;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.fixed-bottom {
    width: 100%;
    margin: 0 auto;
    background-color: #00611C;
    color: #fff;
}

.navbar-brand {
    font-size: 2rem !important;
}

.navbar-brand:hover {
    text-decoration: none;
}
/* you can remove these i just use them to see the columns and rows*/
.mike1 {
    text-align: right;
    color: white;
    width: 110px; height: 300px;
   background-color: #A0DE21; 
    -moz-border-radius: 100px 0px;
    -webkit-border-radius: 100px 0px;
    border-radius: 100px 0px;
      
}

.mike2 {
    border: 2px solid rgb(0, 0, 0);
    background-color: darkgreen;
    
}

.background {
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/71lFloOatLL._AC_SL1000_.jpg');
}