@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --primary-color: #fff;
    --secondary-color: #00611C;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

a {
    color: var(--primary-color) !important;
}

a:hover {
    text-decoration: underline;
}

footer p {
    margin: .5rem auto;
}

.btn-primary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

.btn-no-style {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 100%;
    font-weight: normal;
    transition: color .1s;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: 8px;
    padding-bottom: 0;
  }
  
  .btn-no-style:hover {
    background: none;
    color: var(--primary-color);
    text-decoration: underline;
  }

.navbar {
    background-color: var(--secondary-color) !important;
}

.navbar > .container-fluid {
    margin: 0 10%;
}

.navbar-toggler {
    background-color: var(--primary-color) !important;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.fixed-bottom {
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.navbar-brand {
    font-size: 2rem !important;
}

.navbar-brand:hover {
    text-decoration: none;
}

.background {
    background: url('../../assets/images/homepage-background.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
}

.search-page {
    background: none;
}

.container {
    margin-left: 0px !important;
}

.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar {
    background-color: #EADDCA;
    padding: 20px;
}

.search-bar input,
.search-bar select {
    width: 50%;
}

.search-bar-home {
    background-color: #EADDCA;
    height: 87vh;
    padding-top: 20%;
}

.signup-section, .login-section {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
    margin-left: 200px;
}

.loggedin-homepage {
    background-color: transparent;
    text-align: center;
    margin-top: 40%;
}

.form-group > button {
    margin-top: 10px !important;
}

.my-plants {
    background-color: #EADDCA;
    padding: 20px;
    text-align: center;
}

.plant-card label {
    display: none;
}

.plant-card input {
    margin-bottom: 20px;
    text-align: center;
}

.card {
    width: 300px !important;
    border: 1px solid #BCED91 !important;
    margin: 20px;
    padding: 5px;
}

.card h2 {
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.card p {
    margin-bottom: .5rem;
    width: 125px;
    margin: 0 auto;
}

.plant-cat {
    text-align: center;
}

.fa-tint {
    color: #0D4F8B;
    font-size: 1.5em;
}

.fa-sun {
    color: #FFE600;
    font-size: 1.5em;
}

@media screen and (max-width: 992px) {
    .signup-section, .login-section {
        margin-left: 100px;
    }

    .btn-no-style {
        padding-left: 0px;

    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .background {
        background: none;
    }

    .search-bar-home {
        height: 43vh;
        padding-top: 15%;
    }

    .search-bar input,
    .search-bar select {
    width: 100%;
}

    .signup-section {
        height: 43vh;
    }

    .signup-section, .login-section {
        margin-top: initial;
        margin-left: initial;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-right: calc(var(--bs-gutter-x)/ 2);
        padding-left: calc(var(--bs-gutter-x)/ 2);
    }

    .signup-head, .login-head {
        padding: 0 !important;
    }

    .card {
        width: 200px !important;
    }

    .card img {
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 496px) {
    .card {
        width: 90% !important;
    }
}



